body {
    background-color: #17181f;
    color: #aaa;
}

main {
    max-width: 300px;
    margin: 20px auto;
}

form {
    border: 3px solid #303130;
    border-radius: 10px;
    padding: 5px;
    display: flex;
}

form input[type="text"] {
    background: none;
    color: #fff;
    border: 0;
    padding: 8 8px;
    display: block;
    width: 100%;
}

form button {
    background-color: #61DAF8;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
}

div.task {
    background-color: #303130;
    border-radius: 10px;
    padding: 5px 9px;
    margin-top: 5px;
    display: flex;
    transition: opacity .3s linear;
    align-items: center;

}

div.checkbox {
    display: flex;
    align-items: center;
}

div.task svg {
    height: 20px;
    margin-right: 6px;
    fill: #61DAF8;
}

div.task.done {
    opacity: 0.3;
    text-decoration: line-through;
}

div.task-name {
    flex-grow: 1;
}

div.task span {
    position: relative;
}

div.task span:before {
    content: '';
    display: block;
    width: 0px;
    height: 1px;
    background-color: #aaa;
    position: absolute;
    top: 10px;
    transition: width .1s linear;
}

div.task.done span:before {
    width: 100%;
}

h1,
h2 {
    text-align: center;

}

button.trash {
    background: none;
    border: none;
    display: flex;
    cursor: pointer;
}

button.trash svg {
    fill: #888;
    height: 14px;
}